#navbar{
    position:sticky;
    top:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
}
.navitem{
    color: #4f4f4f;
    margin: 0 5px;
    vertical-align: sub;
}
.navitem:hover{
    text-decoration: none !important;
    color:#4f4f4f;
}
h1{
    text-align: center;
    color: #4f4f4f;
    font-size: 5em;
    font-family: 'Do Hyeon', sans-serif;
}
h2{
    text-align: left;
    color: #4f4f4f;
    font-family: 'Do Hyeon', sans-serif;
}
h3{
    font-family: 'Do Hyeon', sans-serif;
    color: #4f4f4f;
}
h4{
    font-family: 'Do Hyeon', sans-serif;
    color: #4f4f4f;
}
p{
    color: #4f4f4f;
}
a{
    color: #4f4f4f;
}
b{
    font-size: 1.5em;
}
a:hover{
    text-decoration: none !important;
}
#center{
    border: 1px solid #d2d2d2;
    position: relative;
    top: 10%;
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    padding: 20px;
}
.formelem{
    display: block;
    margin: auto;
}
.alerts{
    position: sticky !important;
    width: 50%;
    left: 25%;
    bottom: 0;
}
.foot{
    position:absolute;
    bottom:0;
    height: 50px;
    background-color: #f2f2f2;
    width: 100%;
    margin: 0;
    padding: 0;
}
#dim{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgb(0, 0, 0);
    opacity:0.8;
    z-index: 90;
}
.white{
    background-color: white;
}
.invisible{
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
table{
    width: 50%;
    border: 1px solid #d2d2d2;
    border-collapse: collapse;
    margin: auto;
}
td{
    border: 1px solid #d2d2d2;
}
.datecell{
    text-align: center;
    color: #4f4f4f;
}
.popup{
    position: absolute;
    top: auto !important;
    bottom: 25%;
}
#indexdisplay{
    border: 1px solid #d2d2d2;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
#projects, #plans{
    border-left: 1px solid #d2d2d2;
    text-align: center;
    display: flex;
    flex-direction:column;
    width: 50%;
}
#shared-disp{
    border: 1px solid #d2d2d2;
    position: relative;
    top: 10%;
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    padding: 20px;
}
#comment-disp{
    position: absolute;
    right: 0;
    top: 20%;
    width: 20%;
    height: 40%;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    display: none;
    display: flex;
    flex-direction: column;
}
#comment-button{
    position: absolute;
    right: 0;
    top: 20%;
}
#comment-box{
    overflow: scroll;
    overflow-x: hidden;
    height: 70%;
    border: 1px solid #d2d2d2;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    flex:auto;
}
#close-comments{
    position: absolute;
    right: 0;
    top: 0;
}