<html>
    <head>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% if session.theme == "dark" %}    
            <link rel="stylesheet" tyoe = "text/css" href="{{ url_for('static',filename='styledark.css') }}">
        {% else %}
            <link rel="stylesheet" tyoe = "text/css" href="{{ url_for('static',filename='style.css') }}">
        {% endif %}
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
        <title>
            ProdU {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <div id = "navbar">
            <a href = "/"><h2 style = "font-family: 'Do Hyeon', sans-serif;">ProdU</h2></a>
            {% if session.user_id %}
                <div>
                    <a href="/projects" class = "navitem">Projects</a>
                    <a href="/plans" class = "navitem">Plans / Appointments</a>
                    <a href="/shared" class = "navitem">Shared Projects</a>
                    <a href="/changepassword" class = "navitem">Change Password</a>
                    <a href="/login" class = "navitem">Logout</a>
                </div>
            {% else %}
                <div>
                    <a href="/login" class = "navitem">Login</a>
                    <a href="/register" class = "navitem">Register</a>
                </div>
            {% endif %}
        </div>
        {% if session.user_id %}
            <form action="/changecolor" method = "post">
                <button type = "submit" class = "btn btn-secondary" id = "theme-button" style = "background-color: #4f4f4f !important; font-family: 'Do Hyeon', sans-serif;">Change Theme</button>
            </form>
        {% endif %}
        <div style = "margin: 0 20px 0 20px">
            {% block body %}
            {% endblock %}
            <script src = "{{ url_for('static', filename = 'theme.js') }}"></script>
        </div>
    </body>
</html>