<html>
    <head>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" tyoe = "text/css" href="{{ url_for('static',filename='style.css') }}">
        <title>
            ProdU {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <div id = "navbar">
            <a href = "/"><h2>ProdU</h2></a>
            {% if session.user_id %}
                <div>
                    <a href="/projects" class = "navitem">Projects</a>
                    <a href="/plans" class = "navitem">Plans / Appointments</a>
                    <a href="/changepassword" class = "navitem">Change Password</a>
                    <a href="/login" class = "navitem">Logout</a>
                </div>
            {% else %}
                <div>
                    <a href="/login" class = "navitem">Login</a>
                    <a href="/register" class = "navitem">Register</a>
                </div>
            {% endif %}
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>