{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block body %}
    <a href="/projects">Back to Projects</a><br>
    <button type="button" class="btn btn-outline-primary" id = "share">Share Project</button>
    
    <!--Sharing Project-->
    <form action = "/share" method = "post" id = "shareable">
        <input type="text" name = "username" placeholder="Username">
        <input type="text" name = "id", value = {{ project["id"] }} class = "invisible">
        <button type = "submit" class = "btn btn-primary" id = "addshare">Add Member</button>
    </form>
    
    {% if owner %}
    <button type="button" class="btn btn-outline-primary" id = "manageshared">Manage Access</button>
    {% endif %}

    <h1> {{ project["name"] }} </h1>
    <h2 style = "text-align: center !important;"> Importance: {{ project["importance"] }} </h2>
    
    <!--Comments-->
    <button type = "button" class = "btn btn-outline-primary" id = "comment-button"
    {% if session.commentopen %}
        style = "display: none;"
    {% else %}
        style = "display: block;"
    {% endif %}>Comments</button>

    <div id = "comment-disp"
    {% if session.commentopen == True %}
        style = "display: flex;"
    {% else %}
        style = "display: none;"
    {% endif %}>

        <div style = "background-color: #f2f2f2;">
            <button class = "btn btn-outline-danger" style = "visibility:hidden;">X</button>
            <form action="/closecomment", method = "post" style = "background-color: #f2f2f2; margin: inherit">
                <button type = "submit" class = "btn btn-outline-danger" id = "close-comments">X</button>
            </form>
        </div>
        <div id = "comment-box">
            <ul>
                {% if comments %}
                    {% for comment in comments %}
                        <li>
                            <div style = "display: flex; flex-direction: column; margin: none;">
                                <p style = "margin: inherit;">{{ comment["text"] }}</p>
                                <p style = "margin: inherit; color: #4f4f4f">{{ comment["username"] }}</p>
                                <p style = "color: #d2d2d2">{{ comment["datetime"] }}</p>
                            
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    No comments yet...
                {% endif %}

            </ul>
        </div>
        <form action="/sendcomment" method = "post" style = "display: flex; margin:inherit;">
            <input type="text" name = "comment" style = "flex: auto">
            <input type="text" class = "invisible" value = {{  project["id" ]}} name = "id">
            <button type = "submit" class = "btn btn-primary" id = "send-comment-btn" style = "flex: 0;">Send</button>
        </form>
    </div>


    <!--Display Project items-->
    <div id = "disp" style = "width: 80%; margin: auto;">
        <ol>
            {% for item in items %}
                <ul style="display:flex; justify-content: space-between">
                    <div>
                        <h3>{{ item["text"] }}</h3>
                        <form action="/deleteitem", method = "post">
                            <input type="text" value = {{ item["id"] }} class = "invisible" name = "iid">
                            <input type="text" value = {{ project["id"] }} class = "invisible" name = "id">
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>
                    </div>
                    <div style = "display:flex; width: 50%; flex-direction: column;"> 
                        <form action="/editstatus", method = "post" style = "width: 50%">
                            <h4 class = "statustext">Status: {{ item["status"] }}</h4>
                            <select class="form-control status" id="exampleFormControlSelect1" name = "status">
                                <option value="" selected disabled hidden>Change Status</option>
                                <option value="0" >Not Started</option>
                                <option value="1">In Progress</option>
                                <option value="2">Done</option>
                            </select>
                            <input type="text" value = {{ item["id"] }} class = "invisible" name = "iid">
                            <input type="text" value = {{ project["id"] }} class = "invisible" name = "id">
                            <button type="submit" class="btn btn-primary" id = "add">Change Status</button>
                        </form>
                    </div>
                </ul>
            {% endfor %}
        </ol>
    </div>

    <div id = "dim"></div>

    <!--Manage Shared Users-->
    <div id = "shared-disp" class = "white popup" style = "z-index: 99; position: absolute; left: 37.5%; top: 20% !important; bottom: auto !important;">
        <h2>Manage Shared</h2>
        <ul>
            {% for user in shared_users %}
                <li>
                    {{  user  }}
                    <form action="/deleteuser", method = "POST">
                        <button type="submit" class="btn btn-outline-danger">Remove User</button>
                        <input type="text" name = "username" value = {{  user  }} class = "invisible">
                        <input type="text" name = "id" value = {{  project["id"]  }} class = "invisible">
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>


    <!--Add Project Items-->
    <button type="button" class="btn btn-outline-primary formelem" id = "addplan">Add Project Item</button>
    <div id = "center" class = "white popup" style = 
    "position: absolute !important; left: 37.5%; top: 25% !important; z-index: 99 !important">
        <h2>Add Project Item</h2>
        <form action = "/addpitem", method = "post">
            <div class="form-group">
                <label for="exampleInputEmail1">Details</label>
                <input type="text" class="form-control" name = "details" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder = "Item Details e.g. Finish Papers">
                <input type="text" class = "invisible", name = "id", value = {{ project["id"] }}>
            </div>
            <button type="submit" class="btn btn-primary" id = "add">Add</button>
        </form>

    {% if alert_text %}
        <div class="alert alert-success alerts" role="alert">
            {{ alert_text }}
        </div>
    {% endif %}
    <script src = "{{ url_for('static', filename = 'status.js') }}"></script>
    <script src = "{{ url_for('static', filename = 'alert.js') }}"></script>
    <script src = "{{ url_for('static', filename = 'plans.js') }}"></script>
    <script src = "{{ url_for('static', filename = 'comment.js') }}"></script>
{% endblock %}